@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Libre Franklin", sans-serif;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

img {
  display: block;
}

#root {
  width: 100%;
}
